/* img links */
.banner__case-1 {
  background-image: url("../images/case1.png");
}
.case-section-0101 {
  background-image: url("../images/case1.png");
}

/* main banner setting */
.banner__case-img {
  background-size: 100%;
  width: 100%;
  height: 350px;
  z-index: 0;
  padding: 0;
}

.case-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(88, 15, 249, 0.7);
  height: 350px;
}

.case__type {
  color: #69dcf7;
  display: block;
  margin-bottom: 10px;
}

.case__title,
.case__para {
  color: #ffffff;
  z-index: 2;
}

/* odd-section setting */

.case-section-odd {
  margin-top: 40px;
  color: #580ff9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
}
.case-section-title {
  display: inline;
  font-weight: 700;
  text-decoration-line: underline;
}
.case-section-para {
  font-weight: 300;
  margin-top: 20px;
  color: #000000;
  margin-left: 20%;
  width: 60%;
  line-height: 1.4em;
}

/* even-section setting */
.case-section-even {
  margin-top: 40px;
  padding-top: 40px;
  width: 100%;
  background-size: 100%;
  color: #580ff9;
}

.case-para-even-wrapper {
  padding: 0px;
  background: none;
}

.case-para-even {
  background-color: #580ff9;
  padding: 30px;
  color: white;
  margin-left: 50%;
  width: 40%;
  text-align: left;
}

/* image half*/
.case-section-2col {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.case-section-img-half {
  width: 50%;
  height: 400px;
}
