.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #580ff9;
}

.footer .footer__wrapper {
  width: 90%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper .footer__lists {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.footer__lists .footer__list {
  color: rgba(255, 255, 255, 0.8);
}

.footer__wrapper .footer__copyright {
  width: 85%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: right;
}
