.footer {
  width: 100%;
  height: 60px;
  background-color: #580ff9;
  display: flex;
  justify-content: center;
}

.footer .footer__wrapper {
  width: 90%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper .footer__lists {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.footer__lists .footer__list {
  color: rgba(255, 255, 255, 0.8);
}

.footer__rest {
  background-color: #ffffff;
}

.footer__list__black,
.footer__copyright__black {
  color: black;
}
.footer__copyright,
.footer__copyright__black {
  width: 85%;
  font-size: 12px;
  text-align: right;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.8);
}

.footer__copyright__black {
  width: 85%;
  font-size: 12px;
  text-align: right;
}
